<div class="hero-image">
  <div class="hero-text">
    <h1>I'm <span id="jojo"></span></h1>
    <p>And I write code.</p>
    <button type="button" class="btn btn-dark" onclick="myFunction();">Hire me</button>
  </div>
</div>