<div class="hero-image"></div>
<div class="hero-text">
  <h1 id="myName">I'm <span id="jojo"></span></h1>
  <p>And I write code.</p>
  <button type="button" class="btn btn-dark" onclick="myFunction();">Hire me</button>
</div>
