
body, html {
    height: 100%;
}

/* The hero image */
.hero-image {
    /* The image used */
    background-image: url("https://i.ytimg.com/vi/qIIN64bUbsI/maxresdefault.jpg");

    /* Set a specific height */
    height: 100%;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    filter: blur(10px);
}

/* Place text in the middle of the image */
.hero-text {
    text-align: left;
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(0, -50%);
    color: white;
}

.typed-cursor{
  opacity: 1;
  animation: typedjsBlink 1s infinite;
  -webkit-animation: typedjsBlink 1s infinite;
  animation: typedjsBlink 1s infinite;
}

@-webkit-keyframes typedjsBlink{
  0% { opacity: 1; }
  50% { opacity: 0.0; }
  100% { opacity: 1; }
}